# =========================
# GENERAL
# =========================
.idea/
.vscode/
*.iml
*.log
.env
.DS_Store

# =========================
# FRONTEND (Angular / Node)
# =========================
node_modules/
dist/
.angular/
FrontEnd/node_modules/
FrontEnd/dist/
FrontEnd/.angular/
FrontEnd/src/environments/environment.ts
FrontEnd/src/environments/environment.prod.ts

# =========================
# BACKEND (Spring Boot / Java)
# =========================
target/
*.class
*.jar
*.war
BackEnd/PodcastProject/target/

# Ignorar archivos con credenciales
application.properties
application-dev.properties
application-prod.properties
application-test.properties
*_application.properties
*application*.properties

# Rutas especificas por si acaso
BackEnd/PodcastProject/src/main/resources/application.properties
BackEnd/PodcastProject/src/main/resources/felu_application.properties
BackEnd/PodcastProject/src/main/resources/*application*.properties

# Scripts locales solo para el host de la bd
levantarBdd.bat
docker-compose-db.yml
