<div class="notification-item" [class.unread]="!notification.isRead" (click)="onClick()">
    <div class="notification-avatar">
        <app-media-image [src]="notification.senderProfilePicture" [alt]="notification.senderName || ''" type="user"></app-media-image>
        <div class="notification-icon">{{ getIcon() }}</div>
    </div>
    
    <div class="notification-content">
        <p class="notification-message">{{ notification.message }}</p>
        <span class="notification-time">{{ notification.createdAt | date:'short' }}</span>
    </div>
    
    @if (!notification.isRead) {
        <div class="notification-indicator"></div>
    }
</div>
